<h2>Create Your Own Pokemon</h2>

<form action="/pokemons" method="post">
  <label> Pokemon Name </label>
  <input type="text" name="pokemon[name]"></br>
  </br>
  <label>Combat Points</label>
  <input type="text" name="pokemon[cp]"></br>
  </br>
  <label>Pokemon Type</label>
  <input type="text" name="pokemon[poke_type]"></br>
  </br>
  <label>Pokemon Photo</label>
  <input type="text"name="pokemon[img_url]"></br>
  </br>
  <input type="submit">
</form>
